/* global */
html {
	scroll-behavior: smooth;
}

body {
	--white: #ffffff;
	--white-50: rgb(255 255 255 / 50%);

	--black: #111111;
	--black-50: rgb(0 0 0 / 50%);

	min-height: 100vh;
	min-width: 100vw;
	overflow: hidden overlay;

	font: normal 18px Verdana, sans-serif;
}

#root {
	width: 100vw;
	height: 100vh;
}
/* global */

/* interface */
.fone {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: -1;
	background-image: url("../assets/home.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.reload {
	width: 68px;
	height: 68px;
	font-family: Lucida Sans Unicode;
	font-size: 50px;
	color: var(--white);
	background-color: var(--black-50);
	box-shadow: 0 0 10px 3px var(--white-50);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: fixed;
	z-index: 10;
	bottom: 10px;
	left: 50%;
	margin-left: -28px;
	transition: all 0.3s ease;
}

.reload:hover {
	transform: rotate(360deg);
}
/* interface */

/* common */
.container {
	width: 100vw;
	height: calc(100vh - 90px);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	box-sizing: border-box;
	gap: 50px;
}

.card {
	max-width: 370px;
	max-height: 480px;
	min-width: 200px;
	min-height: 260px;

	transform: perspective(600px) rotateY(-90deg);
	transition: all 0.5s ease;

	user-select: none;
}

.card img,
.deck b {
	display: block;
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 0 10px 3px var(--white-50);

	transition: all 0.2s ease;
	cursor: pointer;
}

.card:hover img,
.card:hover b {
	transform: scale(1.1, 1.1);
}
/* common */

/* ancients */
.ancients::before,
.ancients::after {
	content: "";
}

.ancients-active .ancient__item,
.card-active {
	transform: perspective(600px) rotateY(0deg);
}

.ancient-selected {
	z-index: 2;
}
.ancient-selected img {
	position: fixed;
	left: 50%;
	top: 50%;
	transition: all 1s ease !important;
	transform: scale(5, 5) rotate(360deg) !important;
	opacity: 0;
}
/* ancients */

/* diff */
.star {
	max-width: 150px;
	max-height: 150px;
	min-width: 0;
	min-height: 0;

	background-image: url("../assets/star.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	opacity: 0.5;
	cursor: pointer;
	transition: all 0.5s ease-out, opacity 0s ease;
}

.star-active {
	opacity: 1 !important;
}

.diff-active .star {
	min-width: 100px;
	min-height: 100px;
}
/* diff */

/* game */
.deck,
.game__ancient {
	max-width: 111px;
	max-height: 144px;
	min-width: 111px;
	min-height: 144px;

	position: absolute;
	right: 50px;
	bottom: 0;
}

.deck b {
	width: 100%;
	height: 100%;
	position: absolute;
	text-align: center;
	display: flex;
	align-items: center;
	color: var(--white);
	cursor: pointer;
	transition: all 0.2s ease;
	font-weight: 400;
	background-color: var(--white-50);
	box-shadow: 0 0 3px var(--white);
}

.deck-reverse {
	transform: perspective(600px) rotate(360deg) !important;
}

.game__ancient {
	right: auto;
	left: 50px;
	z-index: 2;
}

.game__ancient img {
	cursor: default;
	transform-origin: left bottom;
}
.game__ancient:hover img {
	transform: scale(5, 5);
}

.game__label {
	position: absolute;
	top: 10px;
	font-size: 24px;
	letter-spacing: 1px;
	color: var(--white);
	text-shadow: 0 0 10px var(--black);
}

.game__diff {
	position: absolute;
	bottom: 5px;
	left: 184px;
	width: 15px;
	height: 134px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.game__star {
	max-width: 20px;
	max-height: 20px;
	cursor: default;
	opacity: 0.35;
}

.game-active .deck,
.game-active .game__ancient {
	transform: perspective(600px) rotateY(0deg);
}

.game-active .game__star {
	min-width: 15px;
	min-height: 15px;
}

.game__info {
	width: 48px;
	height: 144px;
	display: flex;
	flex-direction: column;
	justify-content: stretch;

	position: absolute;
	bottom: 0;
	right: 184px;
}

.game__info div {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--white);
	text-shadow: 0 0 2px var(--white-50);
}

.game__info div:nth-child(1) {
	background-color: rgb(0 128 0 / 50%);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.game__info div:nth-child(2) {
	background-color: rgb(165 87 42 / 50%);
}
.game__info div:nth-child(3) {
	background-color: rgb(35 35 172 / 50%);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.game__table {
	width: 100%;
	height: calc(100% - 296px);
	position: absolute;
	left: 0;
	top: 102px;
	z-index: 1;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 50px;
}

.game__table::before,
.game__table::after {
	content: "";
}

.game__card {
	max-width: 160px;
	max-height: 236px;
	min-width: auto;
	min-height: auto;

	cursor: default;
	pointer-events: none;
}

.game__card:nth-last-child() {
	margin-right: 0;
}
/* game */
